<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<head>
    <title>내가 저장한 북마크 미리보기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<header style="position: sticky; top: 0px; overflow-x: hidden; overflow-y: scroll; z-index: 10">
    <nav class="navbar bg-light" style="width: 100%; height: 80px; border-bottom: 1px solid lightgrey;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.ssg.com/">
                <img th:src="@{/assets/ssg-logo.svg}" alt="Logo" width="175px" class="d-inline-block align-text-top">
            </a>

            <form class="d-flex" role="search" style="width: 67%; height: 45px" action="https://www.ssg.com/search.ssg">
                <input class="form-control me-2" type="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
               style="width: 10%; text-align: center">
                <img th:src="@{/assets/cart.svg}" alt="Logo" width="30" height="24"
                     class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <ul class="nav justify-content-center bg-light" style="width: 100%; height: 55px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray;">
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/me" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/pencil.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top">
                        <div style="font-size: 20px">&nbsp;내가 작성한 레시피</div>
                    </div>
                </a>
            </div>
        </li>
        <li class="vr"></li>
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/me/thumbnails" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top">
                        <div style="font-size: 20px">&nbsp;북마크한 레시피</div>
                    </div>

                </a>
            </div>
        </li>
    </ul>

    <div class="d-flex bg-light" style="border-bottom: 1px solid lightgrey">
        <div class="p-3">
            <span>전체&nbsp</span>
            <span th:text="${bookmarkCount}"></span>
            <span>개</span>
        </div>
        <button class="bg-light" id="newer-button" th:style="'border: 0'"
                th:onclick="'location.href=\''+ @{http://localhost:8080/me/thumbnails?sort=NEWER} + '\''">
            최근 저장순
        </button>
        <div class="p-3">
            <button class="bg-light" th:style="'border: 0'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/me/thumbnails?sort=OLDER} + '\''">
                오래된 순
            </button>
        </div>
    </div>

</header>

<body>

<div class="row row-cols-2 row-cols-md-2 g-4 mx-3 d-flex justify-content-start" style="margin: auto">
    <div th:each="thumbnail : ${thumbnails}" class="card p-3 mx-2 d-flex flex-row" style="height: 550px; width: 48%">
        <div class="col-1 w-100" style="width: 50%; height:70%">
            <a href="https://www.ssg.com/"> <!-- TODO: 피드 상세 화면으로 연결 -->
                <img th:src="${thumbnail.getImageUrl()}"} class="card-img-top" alt="레시피 사진" style="width: 100%; height:100%; padding: 1em">
            </a>
            <div class="card-body h-auto">
                <div class="d-flex flex-row justify-content-between mb-3">

                    <div th:if="${thumbnail.isRecommended() == true}">
                        <img th:src="@{/assets/hand-thumbs-up-fill.svg}" th:width="20px" th:height="20px"
                             class="recommend"
                             th:attr="data-feed-id=${thumbnail.feedId}, data-flag=${thumbnail.isRecommended}"
                        />
                        <span th:text="${thumbnail.getRecommendCount()}" class="recommend-count"></span>
                    </div>

                    <div th:unless="${thumbnail.isRecommended() == true}">
                        <img th:src="@{/assets/hand-thumbs-up.svg}" th:width="20px" th:height="20px"
                             class="recommend"
                             th:attr="data-feed-id=${thumbnail.getFeedId()}, data-flag=${thumbnail.isRecommended()}"
                        />
                        <span th:text="${thumbnail.getRecommendCount()}" class="recommend-count"></span>
                    </div>


                    <div style="text-align: right">
                        <img th:src="@{/assets/bookmark-fill.svg}" th:width="20px" th:height="20px"
                        class="bookmark"
                        th:attr="data-feed-id=${thumbnail.getFeedId()}, data-flag=${thumbnail.isRecommended()}"/>
                    </div>
                </div>
                <div class="card-text" th:text="${thumbnail.getDescription()}"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bookmark.js}"></script>

</body>
</html>