<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<head>
    <title>내가 저장한 북마크 미리보기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<header style="position: sticky; top: 0px; overflow-x: hidden; overflow-y: scroll; z-index: 10">
    <nav class="navbar bg-white" style="width: 100%; height: 100px; border-bottom: 1px solid lightgrey;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.ssg.com/">
                <img th:src="@{/assets/ssg-logo.svg}" alt="Logo" width="240px" class="d-inline-block align-text-top">
            </a>

            <form class="d-flex" role="search" style="width: 55%; height: 55px">
                <input class="form-control me-2" type="query" aria-label="Search" id="ssg-search"
                       style="border-radius: 30px; border-color: #ffcf02">
                <button class="btn btn-outline-success" type="submit" onclick="submitSearchSSG(event)"
                        style="height: 50px; margin-top: 5px; border-color: #ffcf02; color: black; background-color: #ffcf02">
                    Search
                </button>
            </form>

            <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
               style="width: 10%; text-align: center">
                <img th:src="@{/assets/cart.svg}" alt="Logo" style="width: 40px; height: 40px;"
                     class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="d-flex bg-white" style="margin-bottom: 10px">
        <div style="height: 80px">
            <a href="http://localhost:8080/1/feeds">
                <img th:src="@{/assets/sfeed_logo.svg}" alt="Logo" class="d-inline-block align-text-top"
                     style="height: 55px; margin-top: 18px; margin-left: 447px">
            </a>
        </div>
        <div class="p-3" style="margin-left: auto">
            <a href="http://localhost:8080/1/me">
                <img src="/assets/person-fill.svg" style="height: 45px;">
            </a>
        </div>
    </div>

    <ul class="nav justify-content-center bg-white"
        style="width: 100%; height: 55px;">
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/iconizer-pencil.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top" style="margin-top: 6px">
                        <div style="font-size: 25px; color: darkgrey">&nbsp;MY 레시피</div>
                    </div>
                </a>
            </div>
        </li>
        <li class="vr" style="margin-top: 5px; margin-bottom: 4px;"></li>
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me/thumbnails"
                   style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top" style="margin-top: 5px">
                        <div style="font-size: 25px; color: black">&nbsp;북마크한 레시피</div>
                    </div>

                </a>
            </div>
        </li>
    </ul>

    <div class="d-flex bg-white" style="font-size: 22px; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; margin-bottom: -7px;">
        <div class="p-3">
            <span>전체&nbsp</span>
            <span th:text="${bookmarkCount}"></span>
            <span>개</span>
        </div>
        <button class="bg-white" id="newer-button" th:style="'border: 0'"
                th:onclick="'location.href=\''+ @{http://localhost:8080/1/me/thumbnails?sort=NEWER} + '\''">
            최근 저장순
        </button>
        <div class="p-3">
            <button class="bg-white" th:style="'border: 0'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/1/me/thumbnails?sort=OLDER} + '\''">
                오래된 순
            </button>
        </div>
    </div>

</header>

<body>

<div class="row row-cols-2 row-cols-md-2 g-4 mx-3 d-flex justify-content-start" style="margin: auto">
    <div th:each="thumbnail : ${thumbnails}" class="card p-3 mx-2 d-flex flex-row" style="height: 550px; width: 48%">
        <div class="col-1 w-100" style="width: 50%; height:70%">
            <img th:src="${thumbnail.getImageUrl()}" } class="card-img-top" alt="레시피 사진"
                 style="width: 100%; height:100%; padding: 1em"
                 th:onclick="'location.href=\''+ @{http://localhost:8080/1/feeds/} + ${thumbnail.feedId} + '\''">
            <div class="card-body h-auto">
                <div class="d-flex flex-row justify-content-between mb-3">

                    <div th:if="${thumbnail.isRecommended() == true}">
                        <img th:src="@{/assets/hand-thumbs-up-fill.svg}" th:width="20px" th:height="20px"
                             class="recommend"
                             th:attr="data-feed-id=${thumbnail.feedId}, data-flag=${thumbnail.isRecommended}"
                        />
                        <span th:text="${thumbnail.getRecommendCount()}" class="recommend-count"></span>
                    </div>

                    <div th:unless="${thumbnail.isRecommended() == true}">
                        <img th:src="@{/assets/hand-thumbs-up.svg}" th:width="20px" th:height="20px"
                             class="recommend"
                             th:attr="data-feed-id=${thumbnail.getFeedId()}, data-flag=${thumbnail.isRecommended()}"
                        />
                        <span th:text="${thumbnail.getRecommendCount()}" class="recommend-count"></span>
                    </div>


                    <div style="text-align: right">
                        <img th:src="@{/assets/bookmark-fill.svg}" th:width="20px" th:height="20px"
                             class="bookmark"
                             th:attr="data-feed-id=${thumbnail.getFeedId()}, data-flag=${thumbnail.isRecommended()}"/>
                    </div>
                </div>
                <div class="card-text" th:text="${thumbnail.getDescription()}"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bookmark.js}"></script>

</body>
</html>