<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<head>
    <title>my review</title>
    <script src="/js/bootstrap.min.js"></script>
</head>

<header style="position: sticky; top: 0px; overflow-x: hidden; overflow-y: scroll; z-index: 10">
    <nav class="navbar bg-white" style="width: 100%; height: 100px; border-bottom: 1px solid lightgrey;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.ssg.com/">
                <img th:src="@{/assets/ssg-logo.svg}" alt="Logo" width="240px" class="d-inline-block align-text-top">
            </a>

            <form class="d-flex" role="search" style="width: 55%; height: 55px">
                <input class="form-control me-2" type="query" aria-label="Search" id="ssg-search"
                       style="border-radius: 30px; border-color: #ffcf02">
                <button class="btn btn-outline-success" type="submit" onclick="submitSearchSSG(event)"
                        style="height: 50px; margin-top: 5px; border-color: #ffcf02; color: black; background-color: #ffcf02">
                    Search
                </button>
            </form>

            <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
               style="width: 10%; text-align: center">
                <img th:src="@{/assets/cart.svg}" alt="Logo" style="width: 40px; height: 40px;"
                     class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="d-flex bg-white" style="margin-bottom: 10px">
        <div style="height: 80px">
            <a href="http://localhost:8080/1/feeds">
                <img th:src="@{/assets/sfeed_logo.svg}" alt="Logo" class="d-inline-block align-text-top"
                     style="height: 55px; margin-top: 18px; margin-left: 447px">
            </a>
        </div>
        <div class="p-3" style="margin-left: auto">
            <a href="http://localhost:8080/1/me">
                <img src="/assets/person-fill.svg" style="height: 45px;">
            </a>
        </div>
    </div>

    <ul class="nav justify-content-center bg-white"
        style="width: 100%; height: 55px;">
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/pencil.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top" style="margin-top: 6px">
                        <div style="font-size: 25px">&nbsp;MY 레시피</div>
                    </div>
                </a>
            </div>
        </li>
        <li class="vr" style="margin-top: 5px; margin-bottom: 4px;"></li>
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me/thumbnails"
                   style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/iconizer-bookmark.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top" style="margin-top: 5px">
                        <div style="font-size: 25px; color: darkgrey">&nbsp;북마크한 레시피</div>
                    </div>

                </a>
            </div>
        </li>
    </ul>

    <div class="d-flex bg-white" style="font-size: 22px; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; margin-bottom: -7p">
        <div class="p-3">
            <span>전체&nbsp</span>
            <span th:text="${totalReviewCount}"></span>
            <span>개</span>
        </div>
        <button class="bg-white" id="newer-button" th:style="'border: 0'"
                th:onclick="'location.href=\''+ @{http://localhost:8080/1/me?sort=NEWER} + '\''">
            최신 순
        </button>
        <div class="p-3">
            <button class="bg-white" th:style="'border: 0'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/1/me?sort=OLDER} + '\''">
                오래된 순
            </button>
        </div>
    </div>

</header>

<body>

<div class="card m-4" th:each="myReview : ${myReviews}" style="height: 230px;">
    <div class="card-body row"
         th:onclick="'location.href=\''+ @{http://localhost:8080/1/feeds/} + ${myReview.feedId} + '\''">
        <div class="p-4 col align-middle" style="height: 230px; width: 230px; margin-top: -17px;">
            <img th:src="${myReview.imageUrl}" class="img-fluid rounded-start rounded-end" alt="..."
                 style="width: 100%; height: 100%; object-fit: cover"
            />
        </div>
        <div class="p-4 col-md-7 h-100">
            <div class="position-relative" style="margin-left: 25px;">
                <p style="margin-bottom: 20px">
                    <img th:src="@{/assets/star-fill.svg}">&nbsp;</img>
                    <span class="card-text" th:text="${myReview.starScore}" style="margin-right: 80px"></span>
                    <span class="card-text" th:text="${#temporals.format(myReview.createdAt, 'yyyy.MM.dd')}"
                          style="color: darkgray"></span>
                </p>

                <p class="card-text" th:text="${myReview.description}"
                   style="font-size: 18px; font-family: SansSerif;"></p>
            </div>
        </div>
        <div class="p-4 col-md-2 h-100 align-middle" style="margin-right: 10px;">
            <div class="row row-cols-1" style="height: 100%; margin-top: 10px;">
                <span th:class="col" style="padding-left: 30%; padding-right: 20%; margin-bottom: -20px">
                    <img th:src="@{/assets/hand-thumbs-up.svg}" alt="Logo" width="25" height="25"
                         class="d-inline-block">
                    <p class="card-text" style="float: right" th:text="${myReview.recommendCount}"></p>
                </span>
                <div th:class="col" style="padding-left: 30%; padding-right: 20%;">
                    <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="25" height="25"
                         class="d-inline-block">
                    <p class="card-text" style="float: right" th:text="${myReview.bookmarkCount}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>