<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<head>
    <title>my review</title>
    <script src="/js/bootstrap.min.js"></script>
</head>

<header style="position: sticky; top: 0px; overflow-x: hidden; overflow-y: scroll; z-index: 10">
    <nav class="navbar bg-light" style="width: 100%; height: 80px; border-bottom: 1px solid lightgrey;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.ssg.com/">
                <img th:src="@{/assets/ssg-logo.svg}" alt="Logo" width="175px" class="d-inline-block align-text-top">
            </a>

            <form class="d-flex" role="search" style="width: 67%; height: 45px" action="https://www.ssg.com/search.ssg">
                <input class="form-control me-2" type="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
               style="width: 10%; text-align: center">
                <img th:src="@{/assets/cart.svg}" alt="Logo" width="30" height="24"
                     class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <ul class="nav justify-content-center bg-light" style="width: 100%; height: 55px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray;">
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/pencil.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top">
                        <div style="font-size: 20px">&nbsp;MY 레시피</div>
                    </div>
                </a>
            </div>
        </li>
        <li class="vr"></li>
        <li class="nav-item" style="width: 49%; text-align: center">
            <div class="container-fluid">
                <a class="nav-link" href="http://localhost:8080/1/me/thumbnails" style="color: black; font-weight: bold">
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="30" height="30"
                             class="d-inline-block align-text-top">
                        <div style="font-size: 20px">&nbsp;북마크한 레시피</div>
                    </div>

                </a>
            </div>
        </li>
    </ul>

    <div class="d-flex bg-light" style="border-bottom: 1px solid lightgrey">
        <div class="p-3">
            <span>전체&nbsp</span>
            <span th:text="${totalReviewCount}"></span>
            <span>개</span>
        </div>
        <button class="bg-light" id="newer-button" th:style="'border: 0'"
                th:onclick="'location.href=\''+ @{http://localhost:8080/1/me?sort=NEWER} + '\''">
            최신 순
        </button>
        <div class="p-3">
            <button class="bg-light" th:style="'border: 0'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/1/me?sort=OLDER} + '\''">
                오래된 순
            </button>
        </div>
    </div>

</header>

<body>

<div class="card m-4"  th:each="myReview : ${myReviews}" style="height: 230px;">
    <div class="card-body row" th:onclick="'location.href=\''+ @{http://localhost:8080/1/feeds/} + ${myReview.feedId} + '\''">
        <div class="p-4 col align-middle" style="height: 230px; width: 230px; margin-top: -17px;">
            <img th:src="${myReview.imageUrl}" class="img-fluid rounded-start rounded-end" alt="..."
                 style="width: 100%; height: 100%; object-fit: cover"
            />
        </div>
        <div class="p-4 col-md-7 h-100">
            <div class="position-relative" style="margin-left: 25px;">
                <p style="margin-bottom: 20px">
                    <img th:src="@{/assets/star-fill.svg}">&nbsp;</img>
                    <span class="card-text" th:text="${myReview.starScore}" style="margin-right: 80px"></span>
                    <span class="card-text" th:text="${#temporals.format(myReview.createdAt, 'yyyy.MM.dd')}" style="color: darkgray"></span>
                </p>

                <p class="card-text" th:text="${myReview.description}" style="font-size: 18px; font-family: SansSerif;"></p>
            </div>
        </div>
        <div class="p-4 col-md-2 h-100 align-middle" style="margin-right: 10px;">
            <div class="row row-cols-1" style="height: 100%; margin-top: 10px;">
                <span th:class="col" style="padding-left: 30%; padding-right: 20%; margin-bottom: -20px">
                    <img th:src="@{/assets/hand-thumbs-up.svg}" alt="Logo" width="25" height="25"
                         class="d-inline-block">
                    <p class="card-text" style="float: right" th:text="${myReview.recommendCount}"></p>
                </span>
                <div th:class="col" style="padding-left: 30%; padding-right: 20%;">
                    <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="25" height="25"
                         class="d-inline-block">
                    <p class="card-text" style="float: right" th:text="${myReview.bookmarkCount}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>