<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<head>
    <title>my review</title>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar bg-light" style="width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" style="width: 20%;">SSG.COM</a>

        <form class="d-flex" role="search" style="width: 65%;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
           style="width: 5%; text-align: center">
            <img src="/assets/cart.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>

    </div>
</nav>

<ul class="nav justify-content-center" style="width: 100%;">
    <li class="nav-item" style="width: 49%; text-align: center">
        <div class="container-fluid">
            <a class="nav-link" href="http://localhost:8080/me" style="color: black; font-weight: bold">
                <img th:src="@{/assets/pencil.svg}" alt="Logo" width="20" height="20"
                     class="d-inline-block align-text-top">
                내가 작성한 리뷰
            </a>
        </div>
    </li>
    <li class="vr"></li>
    <li class="nav-item" style="width: 49%; text-align: center">
        <div class="container-fluid">
            <a class="nav-link" href="http://localhost:8080/me/thumbnails" style="color: black; font-weight: bold">
                <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="20" height="20"
                     class="d-inline-block align-text-top">
                북마크한 리뷰
            </a>
        </div>
    </li>
</ul>

<div class="d-flex mx-3">
    <div class="p-3">
        <span>전체&nbsp</span>
        <span th:text="${totalReviewCount}"></span>
        <span>개</span>
    </div>
    <button id="newer-button" th:style="'background: white; border: 0'"
            th:onclick="'location.href=\''+ @{http://localhost:8080/me?sorting=NEWER} + '\''">
        최신 순
    </button>
    <div class="p-3">
        <button th:style="'background: white; border: 0'"
                th:onclick="'location.href=\''+ @{http://localhost:8080/me?sorting=OLDER} + '\''">
            오래된 순
        </button>
    </div>
</div>

<div class="card m-3"  th:each="myReview : ${myReviews}" style="height: 200px;">
    <div class="card-body row">
        <div class="p-3 col align-middle" style="height: 200px; width: 200px; margin-top: -17px">
            <img th:src="${myReview.imageUrl}" class="img-fluid rounded-start rounded-end" alt="..."
                 style="width: 100%; height: 100%; object-fit: cover"
            />
        </div>
        <div class="p-3 col-md-7 h-100">
            <div class="position-relative">
                <p class="card-text" th:text="${myReview.starScore}"></p>
                <p class="card-text" th:text="${myReview.description}"></p>
                <p class="card-text" th:text="${#temporals.format(myReview.createdAt, 'yyyy.MM.dd')}"></p>
            </div>
        </div>
        <div class="p-3 col-md-2 h-100 align-middle" style="height: auto">
            <div class="row row-cols-1" style="height: 80%">
                <span th:class="col" style="padding-left: 30%; padding-right: 20%; padding-bottom: 3%">
                    <img th:src="@{/assets/hand-thumbs-up.svg}" alt="Logo" width="20" height="20"
                         class="d-inline-block align-text-top">
                    <p class="card-text" style="float: right" th:text="${myReview.recommendCount}"></p>
                </span>
                <div th:class="col" style="padding-left: 30%; padding-right: 20%; padding-bottom: 3%">
                    <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="20" height="20"
                         class="d-inline-block align-text-top">
                    <p class="card-text" style="float: right" th:text="${myReview.bookmarkCount}"></p>
                </div>
                <div th:class="col" style="padding-left: 30%; padding-right: 20%; padding-bottom: 3%">
                    <img th:src="@{/assets/chat.svg}" alt="Logo" width="20" height="20"
                         class="d-inline-block align-text-top">
                    <p class="card-text" style="float: right" th:text="${myReview.commentCount}"></p>
                </div>
                <div class="form-check form-switch col d-flex" style="min-width: 105%">
                    <div>댓글막기</div>
                    <div style="margin-left: auto;">
                        <input th:if="${myReview.isCommentBlocked}"
                               class="form-check-input" type="checkbox" role="switch" th:id="flexSwitchCheckDefault" checked
                               th:onclick="'sendRequest(' + ${myReview.specialReviewId} + ')'"/>

                        <input th:unless=" ${myReview.isCommentBlocked}"
                               class="form-check-input" type="checkbox" role="switch" th:id="flexSwitchCheckDefault"
                               th:onclick="'sendRequest(' + ${myReview.specialReviewId} + ')'"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function sendRequest(id) {

        fetch('http://localhost:8080/api/me/feeds/' + id + '/comments/block', {
            method: 'PATCH',
        }).then(function (response) {
            location.reload();
        });
    }
</script>

</body>
</html>