<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<head>
    <title>피드 하나 조회</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="script" th:href="@{/js/bootstrap.min.js}"/>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>

<header style="position: sticky; top: 0px; overflow-x: hidden; overflow-y: scroll; z-index: 10">
    <nav class="navbar bg-light" style="width: 100%; height: 80px; border-bottom: 1px solid lightgrey;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.ssg.com/">
                <img th:src="@{/assets/ssg-logo.svg}" alt="Logo" width="175px" class="d-inline-block align-text-top">
            </a>

            <form class="d-flex" role="search" style="width: 67%; height: 45px" action="https://www.ssg.com/search.ssg">
                <input class="form-control me-2" type="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <a class="navbar-brand" href="https://pay.ssg.com/cart/dmsShpp.ssg?gnb=cart"
               style="width: 10%; text-align: center">
                <img th:src="@{/assets/cart.svg}" alt="Logo" width="30" height="24"
                     class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="bg-light"
         style="margin-top: -1px;padding-left: 5%;padding-right: 5%; min-height: 80px; border-bottom: 2px solid lightgrey;">
        <div class="d-inline-flex flex-row justify-content-between" style="width: 60%; margin-right: 205px;">
            <div class="m-3 flex-fill">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 dropdown-input" type="query" placeholder="Search"
                           aria-label="Search"
                           style=" height: 45px;cursor: pointer" id="dropdown-input">
                    <button class="btn btn-outline-success" type="submit" id="submitButton"
                            onclick="submitSearch(event)">Search
                    </button>
                </form>
            </div>
        </div>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cookFilter"
                aria-expanded="true" aria-controls="collapseExample"
                style="width: 77px; height: 45px; font-size: 20px; font-family: 'Spoqa Han Sans Neo', 'sans-serif';
                background-color: gainsboro; border-color: gainsboro; color: black; font-weight: bold">
            필터
        </button>

        <div class="d-flex flex-row justify-content-between">
            <div id="dropdown-menu" style="width: 20%; height: 175px; border: #909090 1px solid; margin-left: 18px;
            display: none; overflow: scroll;">
                <div style="background-color: #dfe0e1">전체</div>
                <span class="d-flex" th:each="hashtag : ${hashtags}" style="border: 1px solid #909090">
                    #&nbsp
                    <div onclick="setValue(this)" th:text="${hashtag.name}"></div>
                </span>
            </div>
            <div class="collapse" id="cookFilter" style="width: fit-content; margin-left: auto;">
                <div class="card card-body"
                     style="width: max-content; background-color: lightgrey; margin-right: 65px;">

                    <div>
                        <ul style="list-style: none; margin-bottom: 2em" id="cookLevel">
                            <li style="float:left; margin-right: 1em; font-weight: bold">요리난이도</li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookLevel-li">쉬워요</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookLevel-li">보통예요</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookLevel-li">어려워요</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul style="list-style: none; margin-bottom: 2em" id="cookQuantity">
                            <li style="float:left; margin-right: 2em; font-weight: bold">요리분량</a></li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px"
                                   class="cookQuantity-li">1인</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px"
                                   class="cookQuantity-li">2~3인</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px"
                                   class="cookQuantity-li">3~4인</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px"
                                   class="cookQuantity-li">5~10인</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px"
                                   class="cookQuantity-li">10인 이상</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul style="list-style: none" id="cookTime">
                            <li style="float:left; margin-right: 2em; font-weight: bold">요리시간</a></li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookTime-li">10분 미만</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookTime-li">10분~20분</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookTime-li">30분</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookTime-li">1시간</a>
                            </li>
                            <li style="float:left; margin-right: 1em; border: 1px solid white; border-radius: 50%; background-color: white">
                                <a style="text-decoration-line: none; color: black; margin: 10px" class="cookTime-li">2시간 이상</a>
                            </li>
                        </ul>
                    </div>
                    <button id="filterButton" style="width: fit-content; margin-left: auto; margin-top: 20px;
                    background-color: #0c63e4; color: snow;">
                        적용
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex bg-light" style="margin-top: -1px; height: 70px; border-bottom: 1px solid lightgrey;
    font-size: 23px; font-family: 'Spoqa Han Sans Neo', 'sans-serif';">
        <div class="p-3" id="newer">
            <button id="newer-button" th:style="'border: 0; background-color: transparent'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/feeds?sort=NEWER} + '\''">
                최신순
            </button>
        </div>
        <div class="p-3">
            <button th:style="'border: 0; background-color: transparent'"
                    th:onclick="'location.href=\''+ @{http://localhost:8080/feeds?sort=RECOMMENDATION} + '\''">
                랭킹순
            </button>
        </div>
        <div class="p-3" style="margin-left: auto">
            <a href="http://localhost:8080/me">
                <img src="/assets/person-fill.svg" style="height: 45px;">
            </a>
        </div>
    </div>
</header>

<body>

<div class="card p-3 m-3">

    <div class="card-header container text-center rounded-pill border border-success p-3 my-3"
         style="width: 800px; margin: 0 auto;">
        <div class="row">
            <div class="col">
                1. 요리 재료
            </div>
            <div class="col">
                2. 요리 과정
            </div>
            <div class="col">
                3. 요리 완성
            </div>
        </div>
    </div>

    <div class="d-flex m-auto p-5" style="height: 650px; width: 800px; border: 3px solid lightgrey;">
        <div id="carouselExampleIndicators" class="carousel slide card-img-top d-flex w-100" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner align-self-lg-auto mw-100 h-auto">
                <div class="carousel-item active">
                    <img th:src="${feed.reviewProfile.imageUrl}" class="d-block mw-100 m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img th:src="${feed.reviewProfile.imageUrl}" class="d-block mw-100 m-auto" alt="...">
                </div>
                <div class="carousel-item">
                    <img th:src="${feed.reviewProfile.imageUrl}" class="d-block mw-100 m-auto" alt="...">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="card-body">
        <div class="d-flex justify-content-around"
             style="height: 170px; width:800px; border:1px solid lightgrey; margin: 0 auto">
            <div style="width: 40%">
                <img th:src="${feed.productProfile.imageUrl}"
                     style="height: 100%; float: left; padding: 1em 3em;">
            </div>
            <div class="align-self-center" style="width: 60%;">
                <div>
                    <p th:text="${feed.productProfile.name}"/>
                </div>
                <div>
                    <span th:text="${feed.productProfile.discountPercent}" style="color: red"></span>
                    <span style="color: red; margin-right: 10px">%&nbsp;&nbsp;</span>
                    <span th:text="${feed.productProfile.price}"/>
                    <span>원</span>
                    <span style="float: right; margin-right: 100px">
                        <img th:src="@{/assets/star-fill.svg}" alt="Logo" width="20" height="20"
                             class="d-inline-block align-text-top"/>
                        <span th:text="${feed.productProfile.starScore}"></span>
                        <span>/ 5</span>
                    </span>
                </div>
            </div>
        </div>

        <div style="width: 800px; margin: 0 auto; padding-top: 1em; padding-bottom: 1em">
            <span>
                <img th:src="@{/assets/star-fill.svg}" alt="Logo" width="20" height="20"
                     class="d-inline-block align-text-top"
                />
                <span th:text="${feed.reviewProfile.starScore}"></span>
            </span>

            <span style="text-align: right; margin-left: 77%">
                <img th:src="@{/assets/hand-thumbs-up.svg}" alt="Logo" width="20" height="20"
                     class="d-inline-block align-text-top"
                     th:onclick="'submitRecommend(' + ${feed.feedReactionProfile.feedId} + ',' + ${feed.feedReactionProfile.recommended} + ')'"
                     th:id="${feed.feedReactionProfile.feedId}"
                />
                <span th:text="${feed.feedReactionProfile.recommendCount}"></span>
            </span>

            <span style="text-align: right; margin-left: 5%;">
                <img th:src="@{/assets/bookmark.svg}" alt="Logo" width="20" height="20"
                     class="d-inline-block align-text-top"
                     th:onclick="'submitBookmark(' + ${feed.feedReactionProfile.feedId} + ',' + ${feed.feedReactionProfile.bookmarked} + ')'"
                />
            <span th:text="${feed.feedReactionProfile.bookmarkCount}"></span>
            </span>
        </div>

        <div class="d-flex mb-3" style="width: 800px; margin: 0 auto;">
            <div th:text="${#temporals.format(feed.reviewProfile.createdAt, 'yyyy.MM.dd')}"
                 style="color: #909090"></div>
            <div style="color: #909090">&nbsp&nbsp;|&nbsp;&nbsp;</div>
            <div th:text="${feed.reviewProfile.author}" style="color: #909090"></div>
        </div>

        <div class="d-grid gap-1" style="width: 800px; margin: 0 auto;">
            <div class="d-flex">
                <div style="width: 100px; font-weight: bold">요리 분량</div>
                <div th:text="${feed.reviewProfile.cookQuantity}"></div>
            </div>
            <div class="d-flex">
                <div style="width: 100px; font-weight: bold">요리 난이도</div>
                <div th:text="${feed.reviewProfile.cookLevel}" text="요리"></div>
            </div>
            <div class="d-flex">
                <div style="width: 100px; font-weight: bold">요리 시간</div>
                <div th:text="${feed.reviewProfile.cookTime}" text="요리"></div>
            </div>
        </div>

        <div th:text="${feed.reviewProfile.description}"
             style="width: 800px; margin: 20px auto; min-height: 30px"></div>

        <div style="width: 800px; margin: 0 auto">
            <div class="d-inline-block" th:each="hashTag : ${feed.hashTags}"
                 style="border: 1px solid #dfe0e1; border-radius: 25%; margin: 1px 3px; padding: 1px">
                <span style="color: darkgrey; font-weight: bold">#</span>
                <span th:text="${hashTag}" style="color:darkgray; font-weight: bold;"></span>
            </div>
        </div>


        <!--        <div th:if="${feed.commentProfile.size() != 0}" style="width: 800px; margin: 0 auto">-->
        <!--            <hr>-->
        <!--            <div class="d-flex" style="margin-bottom: 10px">-->
        <!--                <div>댓글&nbsp;</div>-->
        <!--                <div th:text="${feed.commentProfile.get(0).getCommentCount()}"></div>-->
        <!--                <div>개 모두보기</div>-->
        <!--            </div>-->
        <!--            <div class="d-flex">-->
        <!--                <div th:text="${feed.commentProfile.get(0).getAuthor()}" style="margin-right: 100px;"></div>-->
        <!--                <div th:text="${feed.commentProfile.get(0).getContent()}"></div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<script>
    function submitRecommend(feedId, isRecommended) {

        console.log(feedId);
        console.log(isRecommended);

        if (isRecommended === false) {
            fetch('http://localhost:8080/api/feeds/' + feedId + '/recommends', {
                method: 'POST',
                headers: {'Authorization': '1'}
            })
                .then(response => {
                    window.location.href = 'http://localhost:8080/feeds/' + feedId;
                });
        } else {
            fetch('http://localhost:8080/api/feeds/' + feedId + '/recommends', {
                method: 'DELETE',
                headers: {'Authorization': '1'}
            })
                .then(response => {
                    window.location.href = 'http://localhost:8080/feeds/' + feedId;
                });
        }
    }

</script>

<script>

    function submitBookmark(feedId, isBookmarked) {

        console.log(feedId);
        console.log(isBookmarked);

        if (isBookmarked === false) {
            fetch('http://localhost:8080/api/feeds/' + feedId + '/bookmarks', {
                method: 'POST',
                headers: {'Authorization': '1'}
            })
                .then(response => {
                    window.location.href = 'http://localhost:8080/feeds/' + feedId;
                });
        } else {
            fetch('http://localhost:8080/api/feeds/' + feedId + '/bookmarks', {
                method: 'DELETE',
                headers: {'Authorization': '1'}
            })
                .then(response => {
                    window.location.href = 'http://localhost:8080/feeds/' + feedId;
                });
        }

    }

</script>

<script>
    var input = document.getElementById("dropdown-input");
    var menu = document.getElementById("dropdown-menu");
    input.addEventListener("click", function () {
        if (menu.style.display === "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    });

    function setValue(li) {
        input.value = li.innerText;
    }
</script>

<script>
    function callback(data) {
        console.log("callback 실행하자");
        console.log(data);

        fetch('http://localhost:8080/feeds/list', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
            },
        });
    }

    function submitSearch(event) {
        event.preventDefault();
        const input = document.getElementById("dropdown-input");

        let url = 'http://localhost:8080/feeds/search?';

        if (input.value !== "") {
            url += 'hashTag=' + input.value;
        }

        window.location.href = url;
    }

</script>

<script>

    const cookInfo = {};

    document.getElementById("cookQuantity").addEventListener(
        "click", e => {

            let ss = document.getElementsByClassName("cookQuantity-li");
            for (let i = 0; i < ss.length; i++) {
                ss[i].style.color = 'black';
            }
            e.target.style.color = 'red';

            let value = '';
            if (e.target.text === '1인') {
                value = 'SOLO';
            } else if (e.target.text === '2~3인') {
                value = 'COUPLE';
            } else if (e.target.text === '3~4인') {
                value = 'FAMILY';
            } else if (e.target.text === '5~10인') {
                value = 'PARTY';
            } else if (e.target.text === '10인 이상') {
                value = 'FESTIVAL';
            }
            cookInfo["cookQuantity"] = value;
        }
    );

    document.getElementById("cookLevel").addEventListener(
        "click", e => {

            let value = '';

            let ss = document.getElementsByClassName("cookLevel-li");
            for (let i = 0; i < ss.length; i++) {
                ss[i].style.color = 'black';
            }
            e.target.style.color = 'red';

            if (e.target.text === '쉬워요') {
                value = 'EASY';
            } else if (e.target.text === '보통예요') {
                value = 'MEDIUM';
            } else if (e.target.text === '어려워요') {
                value = 'HARD';
            }

            cookInfo["cookLevel"] = value;
        }
    );

    document.getElementById("cookTime").addEventListener(
        "click", e => {

            let ss = document.getElementsByClassName("cookTime-li");
            for (let i = 0; i < ss.length; i++) {
                ss[i].style.color = 'black';
            }
            e.target.style.color = 'red';

            let value = '';
            if (e.target.text === '10분 미만') {
                value = 'TEN';
            } else if (e.target.text === '10분~20분') {
                value = 'TWENTY';
            } else if (e.target.text === '30분') {
                value = 'THIRTY';
            } else if (e.target.text === '1시간') {
                value = 'ONE_HOUR';
            } else if (e.target.text === '2시간 이상') {
                value = 'TWO_HOURS';
            }

            cookInfo["cookTime"] = value;
        }
    );

    document.getElementById("filterButton").addEventListener(
        "click", e => {

            const input = document.getElementById("dropdown-input");

            if (input.value !== "") {
                cookInfo["hashTag"] = input.value;
            }

            let count = 0;
            let queryParameter = '';

            for (const [key, value] of Object.entries(cookInfo)) {
                queryParameter += key + '=' + value;

                if (count < Object.keys(cookInfo).length - 1) {
                    queryParameter += '&';
                }
                count++;
            }

            window.location.href = `http://localhost:8080/feeds/search?${queryParameter}`;
        }
    )

</script>


</body>
</html>